<div class="row">
    <div class="col-md-4 col-xs-12">
        <app-course-list (courseSelected)="onGettingCourse($event)"></app-course-list>
    </div>

    <div class="col-md-8 col-xs-12">
        <app-course-description 
        *ngIf="selectedCourse; else infoText" [course]="selectedCourse"></app-course-description>
        <ng-template #infoText>
            <h3>Let's dive in to the courses!</h3>
                <div class="panel panel-default">
                    <marquee class="panel-heading pan">Latest added courses.</marquee>
                    <div class="panel-body">
                        <div class="col-md-6 col-xs-6">
                            <ul>
                                <li><a href="#">AI</a></li>
                                <li><a href="#">Angular9</a></li>
                                <li><a href="#">React JS</a></li>
                                <li><a href="#">Docker</a></li>
                                <li><a href="#">Jenkins</a></li>
                                <li><a href="#">Python</a></li>
                                <li><a href="#">HTML5</a></li>
                                <li><a href="#">CSS3</a></li>
                                <li><a href="#">ML</a></li>
                                <li><a href="#">JavaScript</a></li>
                            </ul>
                        </div>
                        <div class="col-md-6 col-xs-6">
                            <ul>
                                <li><a href="#">AI</a></li>
                                <li><a href="#">Angular9</a></li>
                                <li><a href="#">React JS</a></li>
                                <li><a href="#">Docker</a></li>
                                <li><a href="#">Jenkins</a></li>
                                <li><a href="#">Python</a></li>
                                <li><a href="#">HTML5</a></li>
                                <li><a href="#">CSS3</a></li>
                            </ul>
                        </div>
                    </div>
            </div>
        </ng-template>
    </div>
</div>