<div class="about-section">
  <h1 style="text-shadow: 2px 2px 5px red;">Who we are!</h1>
</div>

<h2 style="text-shadow: 2px 2px 4px black; text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="https://instagram.fdel24-1.fna.fbcdn.net/v/t51.2885-15/e35/37748090_394035167668244_6751049313494761472_n.jpg?_nc_ht=instagram.fdel24-1.fna.fbcdn.net&_nc_cat=108&_nc_ohc=O9DMptzlwegAX-v1ntB&oh=38e1cc9e4fddde5066ca8609cb0f7097&oe=5ECDFC83" alt="Jane" style="width:100%">
      <div class="container">
        <h2>Karan Ghai</h2>
        <p class="title">CEO</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>jane@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="https://media-exp1.licdn.com/dms/image/C5103AQHWjbhtOWAqNQ/profile-displayphoto-shrink_200_200/0?e=1586390400&v=beta&t=x_EyeJs9hEdntSXyMye7AOaTFFjWOGxeSIU0UdZ9rdg" alt="Mike" style="width:100%">
      <div class="container">
        <h2>Mike Ross</h2>
        <p class="title">Designer</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>mike@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <img src="https://media.licdn.com/dms/image/C5103AQGtVA9mdE2doA/profile-displayphoto-shrink_200_200/0?e=1583366400&v=beta&t=vghUOljEYdThszcaemGaqblXbmK43Uygxsu58uAaNHc" alt="John" style="width:100%">
      <div class="container">
        <h2>Shamroz Ali</h2>
        <p class="title">Founder</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>john@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>