/* .carousel{
    height: 75vh;
} */
.carouselLg{
    max-height: 75vh;
}
.carouselSm{
    max-height: 37vh;
}
.top-spacing{
    margin-top: 20px;
}

/* .carousel,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  max-height: 75vh;   
} */