
.pan-size{
    height: auto;
    cursor: pointer;
}
.panel-heading{
    padding: auto;
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
    color: black;
    font-size: large;
}
img{
    height: 18rem;
    width: 100rem;
}
#course-desc {
    color: darkblue;
    padding: auto;
    text-align: center;
}
.spacing{
    margin-top: 2px;
}